[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "==8.0.2"
sphinx-autobuild = "==2024.9.19"
sphinx-sitemap = "==2.6.0"
furo = "==2024.8.6"
