RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect 301 /fr/1.0/articles/maintenance.html https://5432.fr/articles/maintenance.html
Redirect 301 /fr/1.0/index.html https://5432.fr/index.html

Redirect 301 /fr/1.0/programmation/java.html https://5432.fr/programmation/java.html
Redirect 301 /fr/1.0/programmation/php.html https://5432.fr/programmation/php.html
Redirect 301 /fr/1.0/programmation/c.html https://5432.fr/programmation/c.html
Redirect 301 /fr/1.0/programmation/plpgsql/date.html https://5432.fr/programmation/plpgsql/date.html
Redirect 301 /fr/1.0/programmation/plpgsql/index.html https://5432.fr/programmation/plpgsql/index.html
Redirect 301 /fr/1.0/programmation/python.html https://5432.fr/programmation/python.html
Redirect 301 /fr/1.0/information.html https://5432.fr/information.html
Redirect 301 /fr/1.0/commun.html https://5432.fr/commun.html
Redirect 301 /fr/1.0/outils.html https://5432.fr/outils.html
Redirect 301 /fr/1.0/search.html https://5432.fr/search.html


Redirect 301 /fr/1.0/programmation/index.html https://5432.fr/programmation/index.html

Redirect 301 /fr/1.0/index.html https://5432.fr/index.html
Redirect 301 /fr/1.0/genindex.html https://5432.fr/genindex.html
Redirect 301 /fr/1.0/livres/index.html https://5432.fr/livres/index.html

Redirect 301 /fr/1.0/articles/indexes.html https://5432.fr/articles/indexes.html
Redirect 301 /fr/1.0/articles/types.html https://5432.fr/articles/types.html
Redirect 301 /fr/1.0/articles/index.html https://5432.fr/articles/index.html
Redirect 301 /fr/1.0/articles/sauvegarde.html https://5432.fr/articles/sauvegarde.html
Redirect 301 /fr/1.0/articles/replication.html https://5432.fr/articles/replication.html

Redirect 301 /fr/1.0/articles/generalite.html https://5432.fr/articles/generalite.html

Redirect 301 /fr/1.0/services/hebergeurs.html https://5432.fr/services/hebergeurs.html
Redirect 301 /fr/1.0/services/societes.html https://5432.fr/services/societes.html
Redirect 301 /fr/1.0/services/index.html https://5432.fr/services/index.html

Redirect 301 /fr/1.0/logiciel/index.html https://5432.fr/logiciel/index.html
